// @font-face
//     font-family: 'Palette_Mosaic'
//     src: url('./PaletteMosaic/PaletteMosaicRegular.ttf') format('truetype')
//     src: url('./PaletteMosaic/PaletteMosaicRegular.woff') format('woff')
//     src: url('./PaletteMosaic/PaletteMosaicRegular.svg') format('svg')
    

    // src: url('../../fonts/PaletteMosaic/PaletteMosaicRegular.ttf') format('truetype')
    // src: url('../../fonts/PaletteMosaic/PaletteMosaicRegular.woff') format('woff')
    // src: url('../../fonts/PaletteMosaic/PaletteMosaicRegular.svg') format('svg')
    
    // src: url(http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.ttf) format('truetype')
    // src: url(http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.woff) format('woff')
    // src: url(http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.svg) format('svg')
    
    // src: url(http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.eot) format('eot')
    // src: url(http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.otf) format('otf')

    // src url(../../fonts/PaletteMosaic/PaletteMosaicRegular.ttf) format('truetype')
    // src: url("http://localhost:63342/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.ttf") format('truetype')
    // src: url("file:///Users/user/WebstormProjects/metalamp-bem-webpack/src/fonts/PaletteMosaic/PaletteMosaicRegular.ttf") format('truetype')
    // src: url("http://localhost:63342/bem-webpack-pug/src/fonts/PaletteMosaic/PaletteMosaicRegular.woff") format('woff')

// @font-face
//     font-family: 'Roboto'
//     src: url('../../fonts/Roboto-Regular.ttf') format('truetype')

// @font-face
//     font-family: 'Roboto_Bold_Italic'
//     src: url('./RobotoBoldItalic/Roboto-BoldItalic.ttf') format('truetype')
//     src: url('./RobotoBoldItalic/Roboto-BoldItalic.woff') format('woff')
//     src: url('./RobotoBoldItalic/Roboto-BoldItalic.svg') format('svg')

.button
    width: 170px
    height: 50px
    // padding: 10px 15px
    background-color: lightblue
    border-radius: 5px
    border: 1px solid blue
    color: blue
    font-weight: bold
    font-size: 15px
    // font-family: 'Roboto'
    // text-align: center
    display: flex
    align-items: center
    justify-content: center
    