extends ../pug/layout.pug
include ../blocks/colorBlock/colorBlock

block lets
    - let wrapper = 'colors__wrapper';

block meta
    title Colors

block content
    .color__column
        +colorBlock('Dark Shade', '100%', '#1F2041')
        +colorBlock('Dark Shade', '75%', '#1F2041')
        +colorBlock('Dark Shade', '75%', '#1F2041')
        +colorBlock('Dark Shade', '50%', '#1F2041')
        +colorBlock('Dark Shade', '25%', '#1F2041')
        +colorBlock('Dark Shade', '5%', '#1F2041')
        +colorBlock('Purple', '', '#BC9CFF')
        +colorBlock('Green', '', '#6FCF97')
    .color-page__text
        h1 <span class="text-prev">H1</span> This one is the sub-section or widget title
        h2 <span class="text-prev">H2</span> Next one is the item title inside widgets
        h3 <span class="text-prev">H3</span> This is a label or CTA text
        p <span class="text-prev">Body</span> This is the body text which is used for most of the design, like paragraphs, lists, etc.
    //- .color-page__tags
    //-     <span class="text-prev">H1</span>
    //-     <span class="text-prev">H2</span>
    //-     <span class="text-prev">H3</span>
    //-     <span class="text-prev">Body</span>

        //- h1 <span class="text-prev">H1</span> This is the sub-section or widget title
        //- h2 <span class="text-prev">H2</span> Next one is the item title inside widgets
        //- h3 <span class="text-prev">H3</span> This is a label or CTA text
        //- p <span class="text-prev">Body</span> This is the body text which is used for most of the design, like paragraphs, lists, etc.
